@tailwind base;

html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;

}

@tailwind components;

.transition {
    transition: all 150ms ease-in-out;
}

@tailwind utilities;
